{% extends "base.html" %}

{% block content %}
<style>
.card-img-top{
  background:#0C74FF;
}
</style>
    <form method="POST" action="/">
      <input type="text" name="name"> <input type="submit" value="Create a Drawing" class="btn btn-primary">
    </form>
 
 <br><br>
  <div class="card flex-row flex-wrap">

   {% for drawing in drawings %}
   <div class="card" style="width: 14rem;">
   <a href="/static/index.html?id={{drawing.id}}">
      <img class="card-img-top" 
      src="{% if drawing.img %}data:image/png;base64,{{drawing.img}}{%else%}/static/img/drawing.jpg{%endif%}" alt="Card image cap" width="180">
      </a>
      <div class="card-body">
          <p class="card-text">
        
        
      <form method="POST" action="./update" id="update">
              <input type="hidden" value="{{drawing.id}}" name="id" id="name">
              <input type="text" value="{{drawing.name}}" name="name"><!--input type="submit" value="Update Name" class="btn"-->
          </form>
        <br>
          <a href="/static/index.html?id={{drawing.id}}" class="btn btn-primary">Draw</a>
          <a href="./delete?id={{drawing.id}}" class="btn glyphicon glyphicon-trash">Delete</a>
          
       </p>
       </div>
    </div>
    {% endfor %}
    </div>

    <script  type="text/javascript">
$( document ).ready(function() {  

      $('#name').keypress(function (e) {
      if (e.which == 13) {
        $('form#update').submit();
        return false;    //<---- Add this line
      }
    });
});
    </script>


{% endblock %}

{% block footer %} {{ super() }} {% endblock %}

